# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [7]:
# Convert the date column format from string to datetime
df["date"] = pd.to_datetime(df["date"],format="%Y-%m-%d")
df["date"]

0       2010-01-01
1       2010-01-02
2       2010-01-03
3       2010-01-04
4       2010-01-06
           ...
19545   2017-08-19
19546   2017-08-20
19547   2017-08-21
19548   2017-08-22
19549   2017-08-23
Name: date, Length: 19550, dtype: datetime64[ns]

In [8]:
# Set the date column as the DataFrame index
# Drop the date column
df = df.set_index("date", drop=True)
df

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

### Compare June and December data across all years

In [9]:
from scipy import stats

In [12]:
# Filter data for desired months
df["months"] = df.index.month
june_df = df[df["months"]==6]
december_df = df[df["months"]==12]

                station  prcp  tobs  months
date
2010-12-01  USC00519397  0.04    76      12
2010-12-03  USC00519397  0.00    74      12
2010-12-04  USC00519397  0.00    74      12
2010-12-06  USC00519397  0.00    64      12
2010-12-07  USC00519397  0.00    64      12
...                 ...   ...   ...     ...
2016-12-27  USC00516128  0.14    71      12
2016-12-28  USC00516128  0.14    71      12
2016-12-29  USC00516128  1.03    69      12
2016-12-30  USC00516128  2.37    65      12
2016-12-31  USC00516128  0.90    65      12

[1517 rows x 4 columns]

In [15]:
# Identify the average temperature for June
june_avg = june_df.groupby("station").mean()["tobs"]
june_avg

station
USC00511918    74.139394
USC00513117    74.050847
USC00514830    76.005376
USC00516128    71.937220
USC00517948    76.655405
USC00518838    73.394737
USC00519281    73.271186
USC00519397    77.559322
USC00519523    76.668103
Name: tobs, dtype: float64

In [16]:
# Identify the average temperature for December
december_avg = december_df.groupby("station").mean()["tobs"]
december_avg

station
USC00511918    69.684211
USC00513117    71.069444
USC00514830    73.224719
USC00516128    69.291262
USC00517948    71.834862
USC00518838    72.421053
USC00519281    69.903226
USC00519397    71.109524
USC00519523    72.433333
Name: tobs, dtype: float64

In [ ]:
# Create collections of temperature data
# We already did it above

In [17]:
# Run paired t-test
stats.ttest_rel(june_avg, december_avg)

Ttest_relResult(statistic=6.95696617044294, pvalue=0.00011759380231523222)

### Analysis

To determine what test we need to run, we first see if we want to compare the means of two groups, 
if this is the case then we need to see if we comparing these from the same subjects.
In our case we see the same subjects as stations, therefore we need to use a paired sample t-test. 
In the paired samples t-test the null hypothesis is that the average of the differences between the paired observations in the two samples is zero. If the calculated P-value is less than 0.05, the conclusion is that, statistically, the mean difference between the paired observations is significantly different from 0.